<ion-view title="Capture" ng-controller="CaptureController as vm">
    <ion-content class="padding has-header">
        <button class="button button-block button-positive button-balanced" ng-click="vm.audioCapture()">Capture Audio</button>
        <button class="button button-block button-positive button-balanced" ng-click="vm.videoCapture()">Capture Video</button>
        <button class="button button-block button-positive button-balanced" ng-click="vm.imageCapture()">Capture Image</button>
    </ion-content>
</ion-view>
