<ion-view view-title="SMS" ng-controller="SmsController as vm">
    <ion-content>
        <div class="list">
            <label for="" class="item item-input item-stacked-label">
                <span class="input-label">Phone No :</span>
                <input type="tel" ng-model='vm.phonenumber'>
            </label>
        </div>
        <div class="list">
            <label for="" class="item item-input item-stacked-label">
                <span class="input-label">Message :</span>
                <textarea class='msg' ng-model='vm.smsContent'></textarea>
            </label>
        </div>
        <div class="button-bar padding">
            <button style='margin-right:10px' class="button button-balanced" ng-click='vm.sendMessage()'>Send</button>

        </div>
    </ion-content>
</ion-view>
