<ion-view view-title="Plugin Repository">
    <ion-content class="padding">
        <div class="list">
            <a href="" class="item item-icon-left" ui-sref='camera'>
                <i class="icon ion-ios-camera-outline"></i> Camera
            </a>
            <a href="" class="item item-icon-left" ui-sref='dialogs'>
                <i class="icon ion-ios-chatboxes-outline"></i> Dialogs
            </a>
            <a href="" class="item item-icon-left" ui-sref='vibration'>
                <i class="icon ion-ios-pulse"></i> Vibration
            </a>
            <a href="" class="item item-icon-left" ui-sref='network'>
                <i class="icon ion-ios-cloud-upload-outline"></i> Network
            </a>
            <a href="" class="item item-icon-left" ui-sref='device'>
                <i class="icon ion-ios-compose-outline"></i> Device Info
            </a>
            <a href="" class="item item-icon-left" ui-sref='barcode'>
                <i class="icon ion-ios-barcode-outline"></i> Barcode Scanner
            </a>
            <a href="" class="item item-icon-left" ui-sref='flashlight'>
                <i class="icon ion-ios-bolt-outline"></i> Flashlight
            </a>
            <a href="" class="item item-icon-left" ui-sref='geolocation'>
                <i class="icon ion-ios-location-outline"></i> Geolocation
            </a>
            <a href="" class="item item-icon-left" ui-sref='contacts'>
                <i class="icon ion-ios-personadd-outline"></i> Contacts
            </a>
            <a href="" class="item item-icon-left" ui-sref='battery'>
                <i class="icon ion-battery-empty"></i> Battery Status
            </a>
            <a href="" class="item item-icon-left" ui-sref='capture'>
                <i class="icon ion-ios-film-outline"></i> Capture
            </a>
            <a href="" class="item item-icon-left" ui-sref='globalization'>
                <i class="icon ion-ios-world-outline"></i> Globalization
            </a>
            <a href="" class="item item-icon-left" ui-sref='imagepicker'>
                <i class="icon ion-images"></i> Image Picker
            </a>
            <a href="" class="item item-icon-left" ui-sref='sms'>
                <i class="icon ion-ios-email-outline"></i> SMS
            </a>
        </div>
    </ion-content>
</ion-view>
