<ion-view title="Globalization" ng-controller="GlobalizationController as vm">
    <ion-content class="padding has-header">
        <div class="card">
            <div class="item item-text-wrap">
                <h3>Language : {{vm.language.value}}</h3>
            </div>
            <div class="item item-text-wrap">
                <h3>Locale Name : {{vm.localName.value}}</h3>
            </div>
            <div class="item item-text-wrap">
                <h3>First Day of Week : {{vm.fristDay.value}}</h3>
            </div>
        </div>
    </ion-content>
</ion-view>
