<ion-view title="Dialogs" ng-controller="DialogsController as vm">
    <ion-content class="padding has-header">
        <button class="button button-block button-positive button-balanced" ng-click="vm.alert()">Alerts</button>
        <button class="button button-block button-positive button-balanced" ng-click="vm.confirm()">Confirm</button>
        <button class="button button-block button-positive button-balanced" ng-click="vm.prompt()">Prompt</button>
        <button class="button button-block button-positive button-balanced" ng-click="vm.beep()">Beep</button>
    </ion-content>
</ion-view>
